
$animation-duration: 200ms;
$animation-duration-x2: 400ms;
$animation-duration-x3: 600ms;
$animation-duration-x4: 800ms;
$animation-duration-x5: 1000ms;
$animation-duration-x6: 1200ms; 

@keyframes slide-up 
    to 
        transform: translateY(0)
        
@keyframes fadeInUpSmall 
    from 
        opacity: 0
        transform: translate3d(0, 5px, 0)
    to 
        opacity: 1
        transform: translate3d(0, 0, 0)
        display: block

@keyframes nudgeMouse 
    0% 
        transform: translateY(0)
    
    45% 
        transform: translateY(8px)

@keyframes mouse-scroll-btn-roll-out
    0% 
        stroke-dashoffset: 120
    to 
        stroke-dashoffset: 0

@keyframes trackBallSlide
    0%
        transform: scaleY(1) translateY(-10px)
        opacity: 1
    45% 
        opacity: 0
        transform: scaleY(.5) translateY(13px)
    46%
        opacity: 0
        transform: scaleY(1) translateY(-10px)
    65%,to
        opacity: 1
        transform: scaleY(1) translateY(-10px)